<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>X-kom - Gorący strzał</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>
          <a href="https://www.x-kom.pl/goracy_strzal/"
            >X-kom - Gorący strzał</a
          >
        </h1>
      </div>
      <div class="row offer">
        <img
          src="https://cdn.x-kom.pl/i/img/promotions/hot-shot-small,,hs_2018_12_24_10_31_44.PNG"
          alt="hotshot"
        />
        <p class="name">ASUS Radeon RX 570 OC 4GB GDDR5</p>
        <p class="price">599,00 zł</p>
        <p class="left">Pozostało: <strong>32</strong></p>
      </div>
      <div class="row">
        <h2>Dopisz się do listy po otrzymywać powiadomienia ;-)</h2>
      </div>
      <div class="row">
        <form action="/" class="search-form" method="POST">
          <i class="fas fa-search"></i>
          <input type="email" name="email" placeholder="abcefgh@ijkl.com" />
          <input type="submit" name="btn" value="Dopisuję się" />
          <input type="submit" name="btn" value="Wypisuję się" />
        </form>
      </div>
    </div>
  </body>
</html>



<!-- old
 -->
<!-- 
 {{!-- <h1>index</h1>
    <h1>{{email}}</h1>
    <form action="/" class="search-form" method="POST">
      <i class="fas fa-search"></i>
      <input type="email" name="email" placeholder="abc@def.com">
      <input type="submit" name="btn" value="Add Me">
      <input type="submit" name="btn" value="Remove Me">
    </form> --}} -->